@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #212121;
  color: white;
  font-family: "Poppins", serif;
  height: 100vh;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
.full-body {
  display: flex;

  flex-direction: column;
  align-items: center;
}
.body-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  margin-top: 100px;
  /* display: none; */
}
.body-top img {
}
.body-top h2 {
  background: linear-gradient(45deg, #ff6b6b, #f5af19);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.body-top h3 {
  background: linear-gradient(45deg, #ff6b6b, #f5af19);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.body-top p {
  background: linear-gradient(45deg, #34b377, #20cc62);
  -webkit-background-clip: text;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
}
.chat-container {
  max-width: 1000px;
  padding: 2px 1px;
  display: none;
  margin-top: 20px;
  min-height: 60%;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
.chat-container::-webkit-scrollbar {
  display: none;
}
.chat-container ul {
  margin: 5px 0;

  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.chat-container ul li {
  padding: 5px 10px;
}
.ques {
  display: flex;
  column-gap: 5px;
}
.ques p {
  background-color: #0d0d0d;
  border: 1px solid #444654;
  border-radius: 6px;
  max-width: 80%; /* Limit the width to a maximum of 80% */
  width: fit-content; /* Ensure content fits naturally if smaller than 80% */
  margin: 0 0 0 auto; /* Align the content to the right */
  display: inline-block;
  padding: 2px;
  word-wrap: break-word; /* Ensure long words wrap within the box */
}
.ques img {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.ans {
  display: flex;
  justify-content: start;
  column-gap: 3px;
}
.ans p {
  border: 1px solid #444654;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.ans img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.icon {
  width: 100px;
  border-radius: 50%;
}
.search-topic {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;

  padding: 10px 10px 10px;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  justify-content: center;
  background: #212121;
}

.search-box {
  display: flex;
  column-gap: 5px;
  width: 60%;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  text-align: center;
}
.search-input {
  background: black;
  border: 1px solid #444654;
  outline: none;
  padding: 5px 8px;

  color: white;
  width: 100%;
  resize: none;
  display: block;
}
.submit-btn,
.delete-btn {
  border-radius: 7px;
  border: none;
  padding: 5px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.submit-btn i,
.delete-btn i {
  font-size: 20px;
}
.suggetions {
  display: none;
  border: 1px solid #ccc;
  background: #fff;
  max-width: 800px;

  overflow-y: scroll;
  color: rgb(231, 228, 228);
  position: absolute;
  bottom: 100px;
  border-radius: 5px;
  margin: 2px;
  background-color: rgb(15, 15, 14);
}
.suggetions li {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ddd;
}

.suggetions li:hover {
  color: #868080;
}
.copyright p {
  font-weight: normal;
  text-align: center;
  font-size: 10px;
}
@media (max-width: 768px) {
  .search-box {
    width: 100%;
  }
}
